
/* hide main menu button in address bar*/
#PanelUI-menu-button
{
	display: none !important;
}


/* make add bookmark panel bigger and more comfortable */
#editBookmarkPanel
{
	min-width: 500px !important;
	min-height: 900px !important;
}

/* Make folder tree bigger and easier to find target directory */
#editBookmarkPanel vbox#editBookmarkPanelContent > #editBookmarkPanelRows > #editBMPanel_folderTreeRow > #editBMPanel_folderTree
{
	min-height: 500px !important;
}

/* Make folder tree always visible - unfortunetly needs one click
on "show all" at start, then it will be always visible, at least in current window */
#editBookmarkPanel vbox#editBookmarkPanelContent > #editBookmarkPanelRows > #editBMPanel_folderTreeRow
{
	visibility: visible !important;
}

/* Disable visibility of area that contains image in panel header */
#editBookmarkPanelInfoArea
{
	display: none !important;
}

/* Disable visibility of image in panel header */
#editBookmarkPanelImage
{
	display: none !important;
}

/* Hide "Print selection" on right button menu */
#context-print-selection 
{ 
	display: none !important;
}

/* Remove margin around download item which is actually clickable, but not highlighted on hover (Download progress popup).
Now whole area of tile should be highlighted and link to downloaded item.
Works with Firefox 90 */
#downloadsListBox > richlistitem > .downloadMainArea {
  height: inherit !important;
}

/* Remove margins around download item button (Download progress popup) - prepare for Firefox 93 (experiments on nightly) */
/*
#downloadsListBox > richlistitem {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
*/

/* Make open containing folder great again - fill whole height of the tile (Download progress popup).
Works with Firefox 90 */
#downloadsListBox > richlistitem > .downloadButton {
  height: inherit !important;
}
